section {
    margin-bottom: 2em;
    position: relative;
    scroll-margin-top: 140px; /* Ensures smooth scroll offset */
}

section h2 {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    margin: 1em 0;
}

section h2::before,
section h2::after {
    content: "";
    position: absolute;
    top: 70%;
    width: 100px;
    height: 3px;
    background-color: #F8741F;
}

section h2::before {
    left: calc(50% - 200px);
}

section h2::after {
    right: calc(50% - 200px);
}
